$black: #000;
$white: #fff;

.nav-item{
    margin: 0 10px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: $white;
    &:hover{
        color: $white;
        background-color: lighten($black, 50%);
    }
}

.nav-bar{
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $black;
}